<div *ngIf="cargando" class="text-center py-5 d-flex flex-column align-items-center justify-content-center h-100">
    <div class="loader"></div>
    <h3 class="mt-4 text-muted fs-5">Analizando datos...</h3>
</div>

<div *ngIf="!cargando && pokemon" class="animate-fade-in">
    
    <div class="d-flex justify-content-between align-items-baseline border-bottom border-3 mb-4 pb-2 mt-2">
         <h1 class="display-5 fw-bold text-uppercase text-dark mb-0">{{ pokemon.name }}</h1>
         <div class="d-flex align-items-center gap-3">
             <span class="fs-2 fw-bold text-muted">#{{ pokemon.id | number:'3.0' }}</span>
             <button class="btn btn-outline-dark btn-lg fw-bold px-4 py-2 shadow-sm" routerLink="/home">
                Volver
             </button>
         </div>
    </div>

    <div class="row g-5 align-items-start">
        
        <div class="col-12 col-lg-5 d-flex flex-column">
            <div class="main-img-box shadow-sm mb-3">
                <img [src]="isShiny ? pokemon.imageShiny : pokemon.imageNormal" 
                     [alt]="pokemon.name" 
                     class="img-fluid pokemon-main-sprite"
                     [class.shiny-filter]="isShiny">
            </div>

            <button class="btn w-100 fw-bold shadow-sm btn-shiny py-3" (click)="toggleShiny()">
                <span *ngIf="!isShiny">Ver Versión Shiny</span>
                <span *ngIf="isShiny">Ver Versión Normal</span>
            </button>
        </div>

        <div class="col-12 col-lg-7 d-flex flex-column">
            
            <div class="mb-4">
                <span *ngFor="let t of pokemon.types" 
                      class="badge rounded-pill border border-light px-3 py-2 me-2 fs-5 shadow-sm"
                      [style.background-color]="getColor(t.type.name)">
                    {{ t.type.name | uppercase }}
                </span>
            </div>

            <div class="mb-4 bg-white shadow-sm p-4 rounded-3 border">
                <h5 class="fw-bold mb-2 text-muted">Entrada Pokédex:</h5>
                <p class="lead fst-italic mb-0" style="font-size: 1.1rem;">"{{ pokemon.description }}"</p>
             </div>

            <div class="card border-0 shadow-sm flex-grow-1 mt-2">
                <div class="card-header bg-white border-bottom-0 pt-3 px-0 mx-3">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link fw-bold text-secondary" routerLink="./about" routerLinkActive="active text-dark border-bottom-primary">
                                Datos Físicos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold text-secondary" routerLink="./stats" routerLinkActive="active text-dark border-bottom-primary">
                                Estadísticas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold text-secondary" routerLink="./evolutions" routerLinkActive="active text-dark border-bottom-primary">
                                Evoluciones
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold text-secondary" routerLink="./moves" routerLinkActive="active text-dark border-bottom-primary">
                                Movimientos
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body bg-white rounded-bottom-3" style="min-height: 300px;">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
    </div> 
</div>