<div [class.page-background]="!esModoAdmin" [class.admin-root]="esModoAdmin">

  <div [ngClass]="!esModoAdmin ? 'pokedex-case bg-danger rounded-5 shadow-lg p-4 p-md-5' : 'container-fluid p-0 m-0'">

    <div *ngIf="!esModoAdmin" class="d-flex align-items-center justify-content-between mb-4">
      
      <div class="d-flex align-items-center gap-4">
        <a routerLink="/home" routerLinkActive="active"><div class="camera-lens shadow-sm"></div></a>
        <div class="d-flex gap-2">
          <div class="rounded-circle bg-danger border border-white border-2 shadow-sm" style="width: 20px; height: 20px;"></div>
          <div class="rounded-circle bg-warning border border-white border-2 shadow-sm" style="width: 20px; height: 20px;"></div>
          <div class="rounded-circle bg-success border border-white border-2 shadow-sm" style="width: 20px; height: 20px;"></div>
        </div>
      </div>

      <div class="flex-grow-1 ms-4">
         <app-navbar></app-navbar>
      </div>

    </div>

    <div [ngClass]="!esModoAdmin ? 'pokedex-screen bg-light rounded-4 shadow-inner border border-3 border-dark-subtle p-4 p-lg-5' : 'w-100 h-100'">
      
      <router-outlet></router-outlet>

    </div>

    <div *ngIf="!esModoAdmin" class="d-flex justify-content-between align-items-end mt-4 px-2">
      <div class="d-flex gap-3">
         <div class="vent-slats"></div>
         <div class="vent-slats"></div>
      </div>
      <div class="d-pad-decoration opacity-25">
         <i class="bi bi-dpad-fill fs-1 text-dark"></i>
      </div>
    </div>

  </div>
</div>


<!--<div class="page-background">

  <div class="pokedex-case bg-danger rounded-5 shadow-lg p-4 p-md-5">

    <div class="d-flex align-items-center justify-content-between mb-4">
      
      <div class="d-flex align-items-center gap-4">
        <a routerLink="/home" routerLinkActive="active"><div class=\"camera-lens shadow-sm\"></div></a>
        
        <div class="d-flex gap-2">
          <div class="rounded-circle bg-danger border border-white border-2 shadow-sm" style="width: 20px; height: 20px;"></div>
          <div class="rounded-circle bg-warning border border-white border-2 shadow-sm" style="width: 20px; height: 20px;"></div>
          <div class="rounded-circle bg-success border border-white border-2 shadow-sm" style="width: 20px; height: 20px;"></div>
        </div>
      </div>

      <div class="flex-grow-1 ms-4">
         <app-navbar></app-navbar>
      </div>

    </div>

    <div class="pokedex-screen bg-light rounded-4 shadow-inner border border-3 border-dark-subtle p-0 overflow-hidden">
      
      <router-outlet></router-outlet>

    </div>

    <div class="d-flex justify-content-end mt-3 px-2">
       <div class="d-flex gap-3">
          <div class="bg-dark rounded-pill" style="width: 60px; height: 8px; opacity: 0.2;"></div>
          <div class="bg-dark rounded-pill" style="width: 60px; height: 8px; opacity: 0.2;"></div>
       </div>
    </div>

  </div>
</div>-->