<nav class="navbar navbar-expand-lg navbar-dark poke-navbar">
  <div class="container-fluid">
    
    <a class="navbar-brand" routerLink="/home">
      <span class="brand-text ms-2">POKÉWEB</span>
    </a>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon" style="filter: invert(89%) sepia(21%) saturate(7000%) hue-rotate(359deg) brightness(105%) contrast(105%);"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            Inicio
          </a>
        </li>

        <li class="nav-item ms-lg-3">
          <a class="nav-link btn-login-nav" routerLink="/login" routerLinkActive="active-login">
            Acceder
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>