:host {
    --poke-yellow: #FFCB05;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-brand {
    display: none; 
}

.nav-link {
    color: rgba(255,255,255,0.9) !important; 
    font-weight: 700;
    font-size: 1.1rem;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: var(--poke-yellow) !important;
}

.nav-link.active {
    color: white !important;
    border-bottom: 2px solid white;
}

.btn-login-nav {
    border: 2px solid rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.1);
    border-radius: 8px; 
    padding: 5px 20px !important;
    color: white !important;
}

.btn-login-nav:hover {
    background-color: white;
    color: #b02a37 !important; 
}

/* Estilos para el botón de Acceder */
.btn-acceder-custom {
    transition: all 0.3s ease; /* Para que el cambio de color sea suave */
    border: 2px solid transparent;
}

/* Efecto al pasar el ratón (Hover) */
.btn-acceder-custom:hover {
    background-color: #dc3545 !important; /* El mismo rojo que el fondo del navbar */
    color: white !important;              /* Letras en blanco */
    border-color: white !important;       /* Borde en blanco */
}